{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ausers</title>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'authenticate/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'authenticate/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'authenticate/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'authenticate/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'authenticate/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'authenticate/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'authenticate/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'authenticate/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'authenticate/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'authenticate/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'authenticate/css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'authenticate/css/style.css' %}">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

  {% block content %}
  {% endblock content %}


  <!--===============================================================================================-->
    <script src="{% static 'authenticate/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
  <!--===============================================================================================-->
    <script src="{% static 'authenticate/vendor/animsition/js/animsition.min.js' %}"></script>
  <!--===============================================================================================-->
    <script src="{% static 'authenticate/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'authenticate/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <!--===============================================================================================-->
    <script src="{% static 'authenticate/vendor/select2/select2.min.js' %}"></script>
  <!--===============================================================================================-->
    <script src="{% static 'authenticate/vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'authenticate/vendor/daterangepicker/daterangepicker.js' %}"></script>
  <!--===============================================================================================-->
    <script src="{% static 'authenticate/vendor/countdowntime/countdowntime.js' %}"></script>
  <!--===============================================================================================-->
    <script src="{% static 'authenticate/js/main.js' %}"></script>
    
</body>
</html>